{% extends 'patient_lists/layouts/epidurio/card_list.html' %}
{% load forms %}
{% block list_header %}{% endblock %}
{% block list_actions %}{% endblock %}
{% block card_footer %}
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-12">
        <a class="btn btn-primary" pathway-episode="row" open-pathway="record_epidural" pathway-callback="removeFromList(row.id)">
          {% icon 'fa-plus-circle' %} Record Epidural
        </a>
      </div>
    </div>
  </div>
{% endblock %}
