{% load forms %}
<div class="col-md-3">
  <div class="panel" style="min-height: 150px;"> <!-- TODO Don't do this. -->
    <div class="panel-heading">
      <h3 class="panel-title">{{ room_name }}</h3>
    </div>
    <div class="panel-body">
      <div ng-repeat="row in rows">
        <div ng-show="row.location[0].bed == '{{ room_name }}'">
          <a href="/#[[row.link]]">
            <div class="well well-sm">
              <b>
                [[ row.demographics[0].first_name ]]
                [[ row.demographics[0].surname ]]
              </b>
              <br />
              DOB:  [[ row.demographics[0].date_of_birth | shortDate ]]
              <br />
              MRN [[ row.demographics[0].hospital_number ]]
            </div> <!--  PID Container -->
              <div ng-hide="row.epidural_request[0].request_date_time">
                <a class="btn btn-secondary pull-right"
                pathway-episode="row"
                pathway-callback="refresh(row.id)"
                open-pathway="request_epidural">
                {% icon 'fa-plus-circle' %} Request Epidural
              </a>
            </div>
            <div ng-show="row.epidural_request[0].request_date_time">
              <div class="btn btn-secondary pull-right disabled">
                Epidural Requested
                [[ row.epidural_request[0].request_date_time | shortDateTime ]]
              </div>
            </div>
          <!-- removed from after ln 24 to prevent removal from list pathway-callback="removeFromList(row.id)"-->

        </div>
        </a>
      </div> <!-- Row repeater -->
    </div> <!-- Panel body  -->
  </div> <!-- Panel -->
</div>
