{% load forms %}
<div class="row">
  <div class="col-md-4">
    {% checkbox field="Consent.failure" %}
    {% checkbox field="Consent.analgesia_expectations" %}
    {% checkbox field="Consent.shivering" %}
    {% checkbox field="Consent.pruritus" %}
    {% checkbox field="Consent.headache" %}
  </div>
  <div class="col-md-4">
    {% checkbox field="Consent.blood_pressure_drop" %}
    {% checkbox field="Consent.nausea_and_vomiting" %}
    {% checkbox field="Consent.motor_block" %}
    {% checkbox field="Consent.delayed_second_stage" %}
  </div>
  <div class="col-md-4">
    {% checkbox field="Consent.instrumental_delivery" %}
    {% checkbox field="Consent.temporary_nerve_damage" %}
    {% checkbox field="Consent.permanent_nerve_damage" %}
    {% checkbox field="Consent.severe_complication" %}
  </div>
</div> <!-- row -->

{% textarea field="Consent.other" %}
