{% load forms %}
<div class="row">
  <div class="col-md-4">
    {% checkbox field="Consent.failure" style="vertical" %}
    {% checkbox field="Consent.analgesia_expectations" style="vertical" %}
    {% checkbox field="Consent.shivering" style="vertical" %}
    {% checkbox field="Consent.pruritus" style="vertical" %}
    {% checkbox field="Consent.headache" style="vertical" %}
  </div>
  <div class="col-md-4">
    {% checkbox field="Consent.blood_pressure_drop" style="vertical" %}
    {% checkbox field="Consent.nausea_and_vomiting" style="vertical" %}
    {% checkbox field="Consent.motor_block" style="vertical" %}
    {% checkbox field="Consent.delayed_second_stage" style="vertical" %}
  </div>
  <div class="col-md-4">
    {% checkbox field="Consent.instrumental_delivery" style="vertical" %}
    {% checkbox field="Consent.temporary_nerve_damage" style="vertical" %}
    {% checkbox field="Consent.permanent_nerve_damage" style="vertical" %}
    {% checkbox field="Consent.severe_complication" style="vertical" %}
  </div>
</div> <!-- row -->

{% textarea field="Consent.other" %}
