{% load forms %}
{% checkbox field="Consent.failure" %}
{% checkbox field="Consent.analgesia_expectations" %}
{% checkbox field="Consent.shivering" %}
{% checkbox field="Consent.pruritus" %}
{% checkbox field="Consent.blood_pressure_drop" %}
{% checkbox field="Consent.nausea_and_vomiting" %}
{% checkbox field="Consent.motor_block" %}
{% checkbox field="Consent.delayed_second_stage" %}
{% checkbox field="Consent.instrumental_delivery" %}
{% checkbox field="Consent.headache" %}
{% checkbox field="Consent.temporary_nerve_damage" %}
{% checkbox field="Consent.permanent_nerve_damage" %}
{% checkbox field="Consent.severe_complication" %}
{% textarea field="Consent.other" %}
