{% load forms %}
{% datetimepicker field="EpiduralFollowUp.time_of_follow_up" %}
<div class="row">
  <div class="col-md-4">
    {% checkbox field="EpiduralFollowUp.headache" %}
    {% checkbox field="EpiduralFollowUp.has_not_mobilised" %}
  </div>
  <div class="col-md-4">
    {% checkbox field="EpiduralFollowUp.weakness" %}
    {% checkbox field="EpiduralFollowUp.sensory_disturbance" %}
  </div>
  <div class="col-md-4">
    {% checkbox field="EpiduralFollowUp.back_pain" %}
    {% checkbox field="EpiduralFollowUp.has_not_passed_urine" %}
  </div>
</div>
