{% load forms %}
{% datetimepicker field="EpiduralInsertion.insertion_date_time" %}
{% select field="EpiduralInsertion.insertion_record" label="Procedure Name" %}
{% input field="EpiduralInsertion.number_of_attempts" %}
{% select field="EpiduralInsertion.indication" %}
{% input field="EpiduralInsertion.complications" %}
{% input field="EpiduralInsertion.outcome" %}

<div class="form-group">
  <label class="control-label col-sm-3">
    Full Asepsis:
  </label>

  <p class="form-control-static col-sm-8">
    
 </p>
</div>
