{% load forms %}
<span ng-show="editing.epidural_insertion.procedure !== 'Epidural'">
  {% select field="NeuraxialDrugs.spinal_opiate" %}
  {% input field="NeuraxialDrugs.spinal_opiate_dose" unit="mcg" %}
  {% select field="NeuraxialDrugs.local_anaesthetic_spinal" %}
  {% input field="NeuraxialDrugs.spinal_local_anaesthetic_volume" unit="ml" %}
</span>
<span ng-show="editing.epidural_insertion.procedure !== 'Spinal'">
  {% select field="NeuraxialDrugs.epidural_opiate" %}
  {% input field="NeuraxialDrugs.epidural_opiate_dose" unit="mg" %}
  {% select field="NeuraxialDrugs.local_anaesthetic_epidural" %}
  {% input field="NeuraxialDrugs.epidural_local_anaesthetic_volume" unit="ml" %}
</span>
